<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assessment 3</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
        integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>

<body>
    <h1>Wacky Widgets</h1>

    {% if widgets|length == 0 %}
    <p>No widgets yet...</p>
    {% else %}
    <table class="pure-table">

        <thead class="table">
            <tr>Descirption</tr>&nbsp;&nbsp;
            <tr>Quantity</tr>&nbsp;&nbsp;
            <tr>Delete</tr>
        </thead>
        {% for widget in widgets %}

        <tbody class="table">
            <td>{{widget.description}}</td>
            <td>{{widget.quantity}}</td>
            <td><a href="{% url 'delete_widget' widget.id %}"><input type="submit" value="X"></a></td>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}

    <a class="pure-button" href="{% url 'add_widget' %}">Add a Widget</a>

    <style>
        table {
            margin: 2rem auto;
            padding: 400px;
        }

        table a {
            color: red;
        }

        body {
            text-align: center;
            margin: 2rem;
        }
    </style>

</body>

</html>