<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assessment 3</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>

<body>
    <h1>Wacky Widgets</h1>
    <hr>
    {% if widgets|length == 0 %}
    <p>No widgets yet...</p>
    {% else %}
    <ul>
        {% for widget in widgets %}
        <li>{{ widget }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <a href="{% url 'add_widget' %}">Add a Widget</a>
</body>

</html>